@import "normalize";
@import "base";

//////////////////////////////////
///////// GRID REPONSIVO /////////
//////////////////////////////////

.section {
	clear: both;
	padding: 0;
	margin: 0;
	width: 100%;
	overflow: hidden;
}

// Column setup
@col-padding: 20px;
@col-margin: 1.6% / 12;

.col {
	display: block;
	float: left;
	margin: .8% 0 .8% 1.6%;
	&:first-child { margin-left: 0; }
}

// Grid of 12
.span_12_of_12 {
	width: 100%;
}
.span_11_of_12 {
	width: 100% * 11 / 12 - @col-margin * 1;
	width: calc(100% * 11 / 12 - @col-margin * 1);
}
.span_10_of_12 {
	width: 100% * 10 / 12 - @col-margin * 2;
	width: calc(100% * 10 / 12 - @col-margin * 2);
}
.span_9_of_12 {
	width: 100% * 9 / 12 - @col-margin * 3;
	width: calc(100% * 9 / 12 - @col-margin * 3);
}
.span_8_of_12 {
	width: 100% * 8 / 12 - @col-margin * 4;
	width: calc(100% * 8 / 12 - @col-margin * 4);
}
.span_7_of_12 {
	width: 100% * 7 / 12 - @col-margin * 5;
	width: calc(100% * 7 / 12 - @col-margin * 5);
}
.span_6_of_12 {
	width: 100% * 6 / 12 - @col-margin * 6;
	width: calc(100% * 6 / 12 - @col-margin * 6);
}
.span_5_of_12 {
	width: 100% * 5 / 12 - @col-margin * 7;
	width: calc(100% * 5 / 12 - @col-margin * 7);
}
.span_4_of_12 {
	width: 100% * 4 / 12 - @col-margin * 8;
	width: calc(100% * 4 / 12 - @col-margin * 8);
}
.span_3_of_12 {
	width: 100% * 3 / 12 - @col-margin * 9;
	width: calc(100% * 3 / 12 - @col-margin * 9);
}
.span_2_of_12 {
	width: 100% * 2 / 12 - @col-margin * 10;
	width: calc(100% * 2 / 12 - @col-margin * 10);
}
.span_1_of_12 {
	width: 100% * 1 / 12 - @col-margin / 11;
	width: calc(100% * 1 / 12 - @col-margin / 11);
}


//////////////////////////
///////// FONTES /////////
//////////////////////////

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic');
@font: 'Open Sans', sans-serif;

/////////////////////////
///////// CORES /////////
/////////////////////////

@preto: #000;
@branco: #fff;
@rosa: #f63869;
@laranja: #fb5352;
@verde: #47deca;
@azul: #35cbeb;
@amarelo: #ffe33b;

.gradient-bg-45-rosa {
	background: @rosa; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(-45deg, @rosa, @laranja); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(-45deg, @rosa, @laranja); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(-45deg, @rosa, @laranja); /* For Firefox 3.6 to 15 */
	background: linear-gradient(-45deg, @rosa, @laranja); /* Standard syntax */
}
.gradient-bg-45-azul {
	background: @rosa; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(-45deg, @azul, @verde); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(-45deg, @azul, @verde); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(-45deg, @azul, @verde); /* For Firefox 3.6 to 15 */
	background: linear-gradient(-45deg, @azul, @verde); /* Standard syntax */
}

/////////////////////////////////////
///////// DEFINIÇÕES GERAIS /////////
/////////////////////////////////////

a, input[type='submit'], select, input, button {
	text-decoration: none;
}

input, textarea, select, option {
	font-size: 1em;
	font-family: @font;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

img,
embed,
object,
video {
	max-width: 100%;
}

//////////////////////////
///////// ESTILO /////////
//////////////////////////

h1, h2, h3, h4, h5, h6 {}

h1 { font-size: 3.6rem; }
h2 { font-size: 2.4rem; }
h3 { font-size: 2.1rem; }
h4 { font-size: 1.8rem; }

p, li { font-size: 1.6rem; }

html {
	font-size: 62.5%;
	font-family: @font;
}

body {}

.wrapper {
	max-width: 1024px;
	margin: 0 auto;
	padding-left: 5rem;
}

.menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.header {
	.title {
		text-align: center;
		h1 {
			margin: 1.6em 0 .2em 0;
		}
	}

	.search {
		.search-form {
			max-width: 360px;
			width: 100%;
			margin: 0 auto;
			position: relative;
			.search-input, .search-submit {
				border: 0;
				background: transparent;
				padding: .4em .6em;
				font-size: 1.3rem;
				color: @branco;
				letter-spacing: .05em;
			}
			.search-input {
				width: 100%;
				.search-placeholder {
					transition: all .1s;
					color: fade(@branco, 0%);
					font-style: italic;
				}
				&::-webkit-input-placeholder { .search-placeholder; } /* Chrome/Opera/Safari */
				&::-moz-placeholder { .search-placeholder; } /* Firefox 19+ */
				&:-ms-input-placeholder { .search-placeholder; } /* IE 10+ */
				&:-moz-placeholder { .search-placeholder; } /* Firefox 18- */

				transition: all .2s;
				background: @rosa;
				&:hover {
					.search-placeholder-hover {
						color: fade(@branco, 100%);
					}
					&::-webkit-input-placeholder { .search-placeholder-hover; } /* Chrome/Opera/Safari */
					&::-moz-placeholder { .search-placeholder-hover; } /* Firefox 19+ */
					&:-ms-input-placeholder { .search-placeholder-hover; } /* IE 10+ */
					&:-moz-placeholder { .search-placeholder-hover; } /* Firefox 18- */
				}
				&:focus {
					.search-placeholder-hover {
						color: fade(@branco, 60%);
					}
					&::-webkit-input-placeholder { .search-placeholder-hover; } /* Chrome/Opera/Safari */
					&::-moz-placeholder { .search-placeholder-hover; } /* Firefox 19+ */
					&:-ms-input-placeholder { .search-placeholder-hover; } /* IE 10+ */
					&:-moz-placeholder { .search-placeholder-hover; } /* Firefox 18- */
				}
			}
			.search-submit {
				position: absolute;
				right: 0;
				top: 0;
				background: @rosa;
				transition: background .2s;
				&:hover, &:focus {
					text-shadow: 0 0 8px @branco;
				}
			}
		}
	}

	.nav-categories {
		padding: 4% 0 2% 0;
		margin-bottom: 2%;
		border-bottom: 2px solid mix(@branco, @preto, 80%);
		.menu {
			text-align: center;
			.menu-item {
				display: inline-block;
				padding: 0 .8%;
				a {
					font-size: 1.3rem;
					text-transform: uppercase;
					letter-spacing: .05em;
					font-weight: bold;
					color: mix(@branco, @preto, 70%);
					transition: all .2s;
					&:hover, &:focus {
						box-shadow: 0 -6px 0 0 mix(@branco, @verde, 70%) inset;
						color: @verde;
					}
				}
			}
		}
	}
}

.nav-main {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	background: @branco;
	padding: 0 1rem;
	transition: all ease-out .3s;
	z-index: 999;
	.menu {
		padding: 1rem 0;
		margin: 0;
		&.menu-nav, &.menu-social {
			border-top: 2px solid mix(@branco, @preto, 90%);			
		}
		.menu-item {
			width: 3rem;
			transition: width ease-out .3s;
			overflow: hidden;
			white-space: nowrap;
			a {
				color: mix(@branco, @preto, 80%);
				.icon {
					display: inline-block;
					width: 3rem;
					text-align: center;
					font-size: 2.4rem;
					line-height: 4rem;
				}
				.descricao {
					margin: 0 1.6rem;
					font-size: 1.4rem;
					display: inline-block;
				}
				&:hover {
					color: @verde;
				}
			}
		}
	}
	.nav-toggle {
		.menu-item {
			text-align: right;
		}
		.icon {
			transition: transform ease-out .3s;
		}
	}
	&.open {
		box-shadow: 0 0 20px fade(@preto, 30%);
		.menu .menu-item {
			width: 18rem;
		}
		.menu .menu-item a {
			color: mix(@branco, @preto, 70%);
			&:hover {
				color: @verde;
			}
		}
		.nav-toggle {
			.icon {
				-ms-transform: rotate(180deg); /* IE 9 */
				-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
				transform: rotate(180deg);
			}
		}
	}
}

.main {
	position: relative;
	.shuffle {
		position: absolute;
		top: -4rem;
		right: 0;
		background: @branco;
		border: 2px solid mix(@branco, @preto, 80%);
		border-radius: 50%;
		width: 2em;
		height: 2em;
		text-align: center;
		cursor: pointer;
		transition: all .1s;
		color: mix(@branco, @preto, 70%);
		font-size: 1.8rem;
		line-height: 1.8em;
		&:hover, &:focus {
			border-color: @laranja;
			color: @laranja;
		}
	}
	.cardboard {
		.col {
			padding-top: 18%;
			overflow: hidden;
			position: relative;
			.title {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				font-size: 1.6rem;
				margin: 0;
				a {
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					padding: 8%;
					margin: 4px;
					color: @branco;
					transition: all .1s;
					&:hover, &:focus {
						margin: 0 8px 8px 0;
						box-shadow: 4px 4px 0 0 @preto;
					}
				}
			}
			.descricao {
				display: none;
			}
			&.cor-1 a {
				background: @azul;
				&:hover, &:focus {
					box-shadow: 4px 4px 0 0 mix(@azul, @preto, 80%);
				}
			}
			&.cor-2 a {
				background: @verde;
				&:hover, &:focus {
					box-shadow: 4px 4px 0 0 mix(@verde, @preto, 80%);
				}
			}
			&.cor-3 a {
				background: @rosa;
				&:hover, &:focus {
					box-shadow: 4px 4px 0 0 mix(@rosa, @preto, 80%);
				}
			}
			&.cor-4 a {
				background: @laranja;
				&:hover, &:focus {
					box-shadow: 4px 4px 0 0 mix(@laranja, @preto, 80%);
				}
			}
		}
	}
}

.cadastro {
	position: fixed;
	top: 0;
	right: 0;
	margin: 1%;
	.toggle{
		position: absolute;
		top: 0;
		right: 0;
		// box-shadow: 1px 1px 1px fade(@preto, 50%);
		// .gradient-bg-45-rosa;
		background: @amarelo;
		border-radius: 50%;
		width: 2em;
		height: 2em;
		text-align: center;
		cursor: pointer;
		transition: all .1s;
		color: @branco;
		font-size: 2.4rem;
		line-height: 2em;
		transition: all .4s;
		&.ativo {
			background: @rosa;
		}
	}
	.form-wrapper {
		position: absolute;
		right: 0px;
		top: 0px;
		background: @amarelo;
		padding: 2rem;
		border-radius: 2.6rem;
		box-shadow: 1px 1px 1px fade(@preto, 50%);
		h3 {
			white-space: nowrap;
			font-size: 1.6rem;
			margin: 0;
		}
		p {
			font-size: 1.2rem;
			margin: .8rem 0;
			font-style: italic;
		}
		form {
			white-space: nowrap;
			input {
				border: 0;
				padding: .6rem;
				font-size: 1.2rem;
			}
			input[type="text"] {
			}
			input[type="submit"] {
				background: @rosa;
				color: @branco;
				font-weight: bold;
				&:hover, &:focus {
					background: mix(@rosa, @azul, 90%);
				}
			}
		}
	}
}

.footer {
	margin: 10% 0 0 5rem;
}

@import "helper";
@import "media-query";