/* HTML5 display definitions
   ========================================================================== */
@import
	url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
	;

@import
	url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic')
	;
	/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	main, menu, nav, section, summary {
	display: block
}

audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline
}

audio:not ([controls] ){
	display: none;
	height: 0
}

[hidden], template {
	display: none
}

a {
	background-color: transparent
}

a:active, a:hover {
	outline: 0
}

abbr[title] {
	border-bottom: 1px dotted
}

b, strong {
	font-weight: 700
}

dfn {
	font-style: italic
}

h1 {
	font-size: 2em;
	margin: .67em 0
}

mark {
	background: #ff0;
	color: #000
}

small {
	font-size: 80%
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -.5em
}

sub {
	bottom: -.25em
}

img {
	border: 0
}

svg:not (:root ){
	overflow: hidden
}

figure {
	margin: 1em 40px
}

hr {
	box-sizing: content-box;
	height: 0
}

pre {
	overflow: auto
}

code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em
}

button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0
}

button {
	overflow: visible
}

button, select {
	text-transform: none
}

button, html input[type="button"], input[type="reset"], input[type="submit"]
	{
	-webkit-appearance: button;
	cursor: pointer
}

button[disabled], html input[disabled] {
	cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0
}

input {
	line-height: normal
}

input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button
	{
	height: auto
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration
	{
	-webkit-appearance: none
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em
}

legend {
	border: 0;
	padding: 0
}

textarea {
	overflow: auto
}

optgroup {
	font-weight: 700
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

td, th {
	padding: 0
}
	/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
html {
	color: #222;
	font-size: 1em;
	line-height: 1.4
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none
}

::selection {
	background: #b3d4fc;
	text-shadow: none
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0
}

audio, canvas, iframe, img, svg, video {
	vertical-align: middle
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0
}

textarea {
	resize: vertical
}

.browserupgrade {
	margin: .2em 0;
	background: #ccc;
	color: #000;
	padding: .2em 0
}

.section {
	clear: both;
	padding: 0;
	margin: 0;
	width: 100%;
	overflow: hidden
}

.col {
	display: block;
	float: left;
	margin: .8% 0 .8% 1.6%
}

.col:first-child {
	margin-left: 0
}

.span_12_of_12 {
	width: 100%
}

.span_11_of_12 {
	width: 91.53333333333333%;
	width: calc(91.53333333333333%)
}

.span_10_of_12 {
	width: 83.06666666666666%;
	width: calc(83.06666666666666%)
}

.span_9_of_12 {
	width: 74.6%;
	width: calc(74.6%)
}

.span_8_of_12 {
	width: 66.13333333333334%;
	width: calc(66.13333333333334%)
}

.span_7_of_12 {
	width: 57.66666666666667%;
	width: calc(57.66666666666667%)
}

.span_6_of_12 {
	width: 49.2%;
	width: calc(49.2%)
}

.span_5_of_12 {
	width: 40.733333333333334%;
	width: calc(40.733333333333334%)
}

.span_4_of_12 {
	width: 32.266666666666666%;
	width: calc(32.266666666666666%)
}

.span_3_of_12 {
	width: 23.8%;
	width: calc(23.8%)
}

.span_2_of_12 {
	width: 15.333333333333334%;
	width: calc(15.333333333333334%)
}

.span_1_of_12 {
	width: 8.321212121212122%;
	width: calc(8.321212121212122%)
}

.gradient-bg-45-rosa {
	background: #f63869;
	background: -webkit-linear-gradient(-45deg, #f63869, #fb5352);
	background: -o-linear-gradient(-45deg, #f63869, #fb5352);
	background: -moz-linear-gradient(-45deg, #f63869, #fb5352);
	background: linear-gradient(-45deg, #f63869, #fb5352)
}

.gradient-bg-45-azul {
	background: #f63869;
	background: -webkit-linear-gradient(-45deg, #35cbeb, #47deca);
	background: -o-linear-gradient(-45deg, #35cbeb, #47deca);
	background: -moz-linear-gradient(-45deg, #35cbeb, #47deca);
	background: linear-gradient(-45deg, #35cbeb, #47deca)
}

a, input[type='submit'], select, input, button {
	text-decoration: none
}

input, textarea, select, option {
	font-size: 1em;
	font-family: 'Open Sans', sans-serif
}

*, :before, :after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

img, embed, object, video {
	max-width: 100%
}

h1 {
	font-size: 3.6rem
}

h2 {
	font-size: 2.4rem
}

h3 {
	font-size: 2.1rem
}

h4 {
	font-size: 1.8rem
}

p, li {
	font-size: 1.6rem
}

html {
	font-size: 62.5%;
	font-family: 'Open Sans', sans-serif
}

.wrapper {
	max-width: 1024px;
	margin: 0 auto;
	padding-left: 5rem
}

.menu {
	list-style: none;
	margin: 0;
	padding: 0
}

.header .title {
	text-align: center
}

.header .title h1 {
	margin: 1.6em 0 .2em 0
}

.header .search .search-form {
	max-width: 360px;
	width: 100%;
	margin: 0 auto;
	position: relative
}

.header .search .search-form .search-input, .header .search .search-form .search-submit
	{
	border: 0;
	background: transparent;
	padding: .4em .6em;
	font-size: 1.3rem;
	color: #fff;
	letter-spacing: .05em
}

.header .search .search-form .search-input {
	width: 100%;
	transition: all .2s;
	background: #f63869
}

.header .search .search-form .search-input .search-placeholder {
	transition: all .1s;
	color: rgba(255, 255, 255, 0);
	font-style: italic
}

.header .search .search-form .search-input::-webkit-input-placeholder {
	transition: all .1s;
	color: rgba(255, 255, 255, 0);
	font-style: italic
}

.header .search .search-form .search-input::-moz-placeholder {
	transition: all .1s;
	color: rgba(255, 255, 255, 0);
	font-style: italic
}

.header .search .search-form .search-input:-ms-input-placeholder {
	transition: all .1s;
	color: rgba(255, 255, 255, 0);
	font-style: italic
}

.header .search .search-form .search-input:-moz-placeholder {
	transition: all .1s;
	color: rgba(255, 255, 255, 0);
	font-style: italic
}

.header .search .search-form .search-input:hover .search-placeholder-hover
	{
	color: #fff
}

.header .search .search-form .search-input:hover::-webkit-input-placeholder
	{
	color: #fff
}

.header .search .search-form .search-input:hover::-moz-placeholder {
	color: #fff
}

.header .search .search-form .search-input:hover:-ms-input-placeholder {
	color: #fff
}

.header .search .search-form .search-input:hover:-moz-placeholder {
	color: #fff
}

.header .search .search-form .search-input:focus .search-placeholder-hover
	{
	color: rgba(255, 255, 255, .6)
}

.header .search .search-form .search-input:focus::-webkit-input-placeholder
	{
	color: rgba(255, 255, 255, .6)
}

.header .search .search-form .search-input:focus::-moz-placeholder {
	color: rgba(255, 255, 255, .6)
}

.header .search .search-form .search-input:focus:-ms-input-placeholder {
	color: rgba(255, 255, 255, .6)
}

.header .search .search-form .search-input:focus:-moz-placeholder {
	color: rgba(255, 255, 255, .6)
}

.header .search .search-form .search-submit {
	position: absolute;
	right: 0;
	top: 0;
	background: #f63869;
	transition: background .2s
}

.header .search .search-form .search-submit:hover, .header .search .search-form .search-submit:focus
	{
	text-shadow: 0 0 8px #fff
}

.header .categories {
	-webkit-transition: all 200ms linear 0s;
    -moz-transition: all 200ms linear 0s;
    -o-transition: all 200ms linear 0s;
    transition: all 200ms linear 0s;
}

.header .nav-categories {
	padding: 4% 0 2% 0;
	margin-bottom: 2%;
	border-bottom: 1px solid #ccc;
}

.nav-categories-fixed {
    background: #fff none repeat scroll 0 0;
    height: auto;
    left: 0px;
    top: 0px;
    padding: 1.5% 0 !important;
    position: fixed;    
    width: 100%;
    z-index: 2;
}

.search.search-fixed {
    border: thin solid;
    margin-left: 80px;
    width: 350px;
}

.header .nav-categories .menu {
	text-align: center
}

.header .nav-categories .menu .menu-item {
	display: inline-block;
	padding: 0 .8%
}

.header .nav-categories .menu .menu-separator {
	color: #999999;
}

.header .nav-categories .menu .menu-item a {
	font-size: 1.3rem;
	text-transform: uppercase;
	letter-spacing: .05em;
	font-weight: 700;
	color: #b3b3b3;
	transition: all .2s
}

.header .nav-categories .menu .menu-item a:hover, .header .nav-categories .menu .menu-item a:focus
	{
	box-shadow: 0 -6px 0 0 #c8f5ef inset;
	color: #47deca
}

.nav-main {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	background: #fff;
	padding: 0 1rem;
	transition: all ease-out .3s;
	z-index: 999
}

.nav-main .menu {
	padding: 1rem 0;
	margin: 0
}

.nav-main .menu.menu-nav, .nav-main .menu.menu-social {
	border-top: 2px solid #e6e6e6
}

.nav-main .menu .menu-item {
	width: 3rem;
	transition: width ease-out .3s;
	overflow: hidden;
	white-space: nowrap;
}

.nav-main .menu .menu-item a {
	color: #ccc
}

.nav-main .menu .menu-item a .icon {
	display: inline-block;
	width: 3rem;
	text-align: center;
	font-size: 2.4rem;
	line-height: 4rem
}

.nav-main .menu .menu-item a .descricao {
	margin: 0 1.6rem;
	font-size: 1.4rem;
	display: inline-block
}

.nav-main .menu .menu-item a:hover {
	color: #47deca
}

.nav-main .nav-toggle .menu-item {
	text-align: right
}

.nav-main .nav-toggle .icon {
	transition: transform ease-out .3s
}

.nav-main.open {
	box-shadow: 0 0 20px rgba(0, 0, 0, .3)
}

.nav-main.open .menu .menu-item {
	width: 18rem
}

.nav-main.open .menu .menu-item a {
	color: #b3b3b3
}

.nav-main.open .menu .menu-item a:hover {
	color: #47deca
}

.nav-main.open .nav-toggle .icon {
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg)
}

.main {
	position: relative
}

.main .shuffle {
	position: absolute;
	top: -4rem;
	right: 0;
	background: #fff;
	border: 2px solid #ccc;
	border-radius: 50%;
	width: 2em;
	height: 2em;
	text-align: center;
	cursor: pointer;
	transition: all .1s;
	color: #b3b3b3;
	font-size: 1.8rem;
	line-height: 1.8em
}

.main .shuffle:hover, .main .shuffle:focus {
	border-color: #fb5352;
	color: #fb5352
}

.main .cardboard .col {
	padding-top: 18%;
	overflow: hidden;
	position: relative
}

.main .cardboard .col .title {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	font-size: 1.6rem;
	margin: 0
}

.main .cardboard .col .title a {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 8%;
	margin: 4px;
	color: #fff;
	transition: all .1s
}

.main .cardboard .col .title a:hover, .main .cardboard .col .title a:focus
	{
	margin: 0 8px 8px 0;
	box-shadow: 4px 4px 0 0 #000
}

.main .cardboard .col .descricao {
	display: none
}

.main .cardboard .col.cor-1 a {
	background: #35cbeb
}

.main .cardboard .col.cor-1 a:hover, .main .cardboard .col.cor-1 a:focus
	{
	box-shadow: 4px 4px 0 0 #2aa2bc
}

.main .cardboard .col.cor-2 a {
	background: #47deca
}

.main .cardboard .col.cor-2 a:hover, .main .cardboard .col.cor-2 a:focus
	{
	box-shadow: 4px 4px 0 0 #39b2a2
}

.main .cardboard .col.cor-3 a {
	background: #f63869
}

.main .cardboard .col.cor-3 a:hover, .main .cardboard .col.cor-3 a:focus
	{
	box-shadow: 4px 4px 0 0 #c52d54
}

.main .cardboard .col.cor-4 a {
	background: #fb5352
}

.main .cardboard .col.cor-4 a:hover, .main .cardboard .col.cor-4 a:focus
	{
	box-shadow: 4px 4px 0 0 #c94242
}

.cadastro {
	position: fixed;
	top: 0;
	right: 0;
	margin: 1%
}

.cadastro .toggle {
	position: absolute;
	top: 0;
	right: 0;
	background: #ffe33b;
	border-radius: 50%;
	width: 2em;
	height: 2em;
	text-align: center;
	cursor: pointer;
	transition: all .1s;
	color: #fff;
	font-size: 2.4rem;
	line-height: 2em;
	transition: all .4s
}

.cadastro .toggle.ativo {
	background: #f63869
}

.cadastro .form-wrapper {
	position: absolute;
	right: 0;
	top: 0;
	background: #ffe33b;
	padding: 2rem;
	border-radius: 2.6rem;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .5)
}

.cadastro .form-wrapper h3 {
	white-space: nowrap;
	font-size: 1.6rem;
	margin: 0
}

.cadastro .form-wrapper p {
	font-size: 1.2rem;
	margin: .8rem 0;
	font-style: italic
}

.cadastro .form-wrapper form {
	white-space: nowrap
}

.cadastro .form-wrapper form input {
	border: 0;
	padding: .6rem;
	font-size: 1.2rem
}

.cadastro .form-wrapper form input[type="submit"] {
	background: #f63869;
	color: #fff;
	font-weight: 700
}

.cadastro .form-wrapper form input[type="submit"]:hover, .cadastro .form-wrapper form input[type="submit"]:focus
	{
	background: #e34776
}

.footer {
	margin: 10% 0 0 5rem
}

.hidden {
	display: none !important
}

.visuallyhidden {
	border: 0;
	clip: rect(0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto
}

.invisible {
	visibility: hidden
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table
}

.clearfix:after {
	clear: both
}


/* Conteúdo página interna */
.content-title {
	color: #00B1CD;
	width: 100%;
	padding: 20px 0 30px 0;
	margin: 0px;
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
	border-bottom: 1px solid #ccc;
}

.content-social {
	clear: both;
	border-bottom: 1px solid #ccc;
	height: 45px;
}

.content-body {
	width: 100%;
}

.content-body p {
	font-size: 14pt;
	margin: 40px 0 40px 0;
	line-height: 2;
}

.content-body video {
	width: 100%;
	height: 500px;
}

.content-social a, .content-social span {
	float: right;
	padding-top: 10px;
	color: #CCCCCC;
	margin-right: 10px;
	font-size: 11pt;
	font-weight: bold;
}

@media only screen and (max-width: 480px) {
	.main .cardboard .col {
		padding-top: 30%
	}
	.col {
		margin: 1% 0 1% 0
	}
	.span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12,
		.span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12,
		.span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
		width: 100%
	}
}

@media print {
	*, :before, :after, :first-letter, :first-line {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important
	}
	a, a:visited {
		text-decoration: underline
	}
	a[href]:after {
		content: " (" attr(href) ")"
	}
	abbr[title]:after {
		content: " (" attr(title) ")"
	}
	a[href^="#"]:after, a[href^="javascript:"]:after {
		content: ""
	}
	pre, blockquote {
		border: 1px solid #999;
		page-break-inside: avoid
	}
	thead {
		display: table-header-group
	}
	tr, img {
		page-break-inside: avoid
	}
	img {
		max-width: 100% !important
	}
	p, h2, h3 {
		orphans: 3;
		widows: 3
	}
	h2, h3 {
		page-break-after: avoid
	}
}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */